/*************************
  ESTILOS SECCION PLAN
**************************/
.formu {
    padding: 5%;
    &__fieldset {
        padding: 5%;

        .subcampo {
            margin-bottom: 2.5%;
        }

        .subcampo--mtop {
            margin-top: 15%;
        }
    }

    .centrado {
        text-align: center;
    }
}
.border-form {
    border: solid 5px black;
}
.transicion-input {
    width: 30%;
    transition: all 1.5s;

    &:focus {
        width: 55%;
        font-weight: bold;
        font-size: larger;
    }
}
