/******************************
  ESTILOS SECCION DESTINOS
*******************************/
@mixin tamanioUbic ($ancho, $margenL) {
    width: $ancho;
    margin-left: $margenL;
}

.rowFlbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.tarjetaDestino {
    border: solid 3px rgb(121, 121, 121);

    &__img {
        padding: 3%;

        &--filip {
            @include tamanioUbic(47%, 20%)
        }
        &--tai {
            @include tamanioUbic(44%, 29%)
        }
        &--vietnam {
            @include tamanioUbic(41%, 29%)
        }
    }

    .centrado {
        text-align: center;
    }
}

/* ANIMACIONES */
.anim-Destino:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}