/******************************
  ESTILOS SECCION ARTICULOS
*******************************/

//VARIABLES
$degrade-claro: rgb(217, 180, 238);
$degrade-oscuro: rgb(171, 125, 231);

/* TABLA */
table {
    border: none;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 5%;
}
th:empty {
    background:transparent;
    border:none;
    width: auto;
}
th {
    color: white;
    font-size: 3vw;
    border: 2px solid white;
    text-shadow:3px 1px 1px #000000;
    padding: 1%;
    width:35%;
    height: 85%;
    background-image: linear-gradient(to top, $degrade-claro, $degrade-oscuro); 
}
td {
    border: 2px solid white;
    text-align: center;
    padding: 2%;
}
.tdFecha {
    text-align: center;
    background-color: $degrade-claro;
    font-size: 2vw;
}
.tdLista {
    text-align: left;
    background-image: linear-gradient(to right, $degrade-claro, $degrade-oscuro);

    .olTabla {
        margin-left: 5%;

        li {
            font-size: 2vw;
        }

        .topics{
            text-decoration: none;
            font-size: 2vw;
        }

        .topics--color {
            color: black;
        }

        .aHovTabla:hover {
            background-color: rgb(171, 125, 231);
            color: white;
        }
    }
}
.tdPais {
    color: white;
    font-size: 3vw;
    width: 20%;
    border: 2px solid white;
    text-shadow:3px 1px 1px #000000;  
    background-image: linear-gradient(to left, $degrade-claro, $degrade-oscuro);
}