/*************************
  ESTILOS SECCION PLAN
**************************/
.formu {
    padding: 5%;
    .formu__fieldset {
        padding: 5%;
        .subcampo {
            margin-bottom: 2.5%;
        }
        .subcampo--mtop {
            margin-top: 15%;
        }
    }
}
.border-form {
    border: solid 5px black;
}
.centrado {
    text-align: center;
}
.transicion-input {
    width: 30%;
    transition: all 1.5s;
}
.transicion-input:focus {
    width: 55%;
    font-weight: bold;
    font-size: larger;
}